body {
	overflow-x: hidden; /*--right gutter fix--*/
}
.navbar-brand img{
  height: 4rem;
}

.nav-item{
  font-size: 14px;
  width: 150px;
}

.language{
  text-decoration: none;
  color: #fff;
  padding: 0 5px;
}
.language:hover{
  color: chocolate;
}

@media(max-width: 770px) {
  .language_options{    
    margin-top: 20px;
     padding: 5px 15px 5px 15px;
  }
}
